body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.header {
    color: grey;
    font-size: 2.2vw;
}
.subtitle {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
}
.description {
    text-align: center;
}
.recipe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vh;
}
.bottom-row {
    display: flex;
    justify-content: center;
    gap: 2vw;
}
.top-row {
    display: flex;
    justify-content: center;
    gap: 2vw;
}
.textbox {
    text-align: left;
    font-size: 1.1vw;
    width: 25vw
}
img {
    width: 25vw
}
.home {
    display: flex;
    justify-content: center;
}
.home div {
    width: 25vw;
}
footer {
    align-self: flex-end;
}